body {
  font-family: "Noto Sans JP", sans-serif;
}
@keyframes mover {
  0% {
    transform: translate(100%);
  }
}
.header {
  background: #262322;
}
.content {
  background: #b9272c;
}

.nav-item {
}
.titulo {
  font-size: 1.8rem;
}
.menu {
  margin-right: 5rem;
  font-size: 1.2rem;
}
.col-md-3 {
  display: inline-block;
  margin-left: -4px;
}
.col-md-3 img {
  width: 100%;
  height: auto;
}
.icon {
  font-size: 3rem;
}
